.App {
    text-align: center;
    margin: 20px;
}

.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat();
    grid-gap: 16px;
    grid-column-gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.company-info {
    font-size: 20px;
    font-weight: bold;
}

.job-info {
    margin: 20px 0;
}